/*====BUTTONS====*/
[class*="btn"],
input[type="file"]+label,
[role="button"],
[type="button"],
[type="reset"],
[type="submit"],
button{
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	border: 1px solid $dark-gray;
	box-shadow: none;
	line-height: 1;
	margin: 0;
	height: 38px;
	color:$darker-gray;
	background-color:transparent;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	&:disabled{color:$dark-gray;}
}
.btn-link{
	border:none;
	background:transparent;
	color:$normal-link;
	&:hover{color:$active-link;}
	&:active,&:disabled{
		&,&:hover{color:$dark-gray;}
	}
}
.btn-hovered{
	font-weight:normal;
	background:transparent;
	border: 2px solid $dark-gray;
	color:$dark-gray;
	&:hover{background:$dark-gray;color:$white;}
	&:active,&:disabled{
		&,&:hover{background:$light-gray;border-color: $light-gray;color:$dark-gray;}
	}
	&.success{
		border-color: $success;
		color: $success;
		&:hover{
			background:$success;
			color:$white;
		}
		&:active,&:disabled{
			border-color: $success-3d;
			background:$success-3d;
		}
	}
	&.primary,&.recommend{
		border-color: $normal-link;
		color: $normal-link;
		&:hover{
			background:$normal-link;
			color:$white;
		}
		&:active,&:disabled{
			border-color: $recommend-3d;
			background: $recommend-3d;
		}
	}
	&.info{
		border-color: $active-link;
		color: $active-link;
		&:hover{
			background:$active-link;
			color:$white;
		}
		&:active,&:disabled{
			border-color: $info-3d;
			background: $info-3d;
		}
	}
	&.alert{
		border-color: $mark;
		color: $mark;
		&:hover{
			background:$mark;
			color:$white;
		}
		&:active,&:disabled{
			border-color: $alert-3d;
			background: $alert-3d;
		}
	}
	&.warning{
		border-color: $warning;
		color: $warning;
		&:hover{
			background:$warning;
			color:$white;
		}
		&:active,&:disabled{
			border-color: $warning-3d;
			background: $warning-3d;
		}
	}
	&.danger,&.error{
		border-color: $error;
		color: $error;
		&:hover{
			background:$error;
			color:$white;
		}
		&:active,&:disabled{
			border-color: $error-3d;
			background: $error-3d;
		}
	}
	&.success,&.primary,&.recommend,&.info,&.alert,&.warning,&.danger,&.error{
		&:active,&:disabled{
			&,&:hover{color:$light-gray;}
		}
	}
}
.btn,.btn-2d,.btn-3d{
	&,&.default{
		font-weight:normal;
		border-color: $dark-gray;
		background: $lighter-gray;
		&:active,&:disabled{background:$light-gray;}
	}
	&.white{
		background:$white;
		&:active,&:disabled{background:$lighter-gray;}
	}
	&.success,&.primary,&.recommend,&.info,&.alert,&.warning,&.danger,&.error{
		color:$white;
		&:active,&:disabled{color:$light-gray;}
	}
	&.success{
		background: $success;
		border-color: $success-3d;
		&:active,&:disabled{background:$success-3d;}
	}
	&.primary,&.recommend{
		background: $normal-link;
		border-color: $recommend-3d;
		&:active,&:disabled{background:$recommend-3d;}
	}
	&.info{
		background: $active-link;
		border-color: $info-3d;
		&:active,&:disabled{background:$info-3d;}
	}
	&.alert{
		background: $mark;
		border-color: $alert-3d;
		&:active,&:disabled{background:$alert-3d;}
	}
	&.warning{
		background: $warning;
		border-color: $warning-3d;
		&:active,&:disabled{background:$warning-3d;}
	}
	&.danger,&.error{
		background: $error;
		border-color: $error-3d;
		&:active,&:disabled{background:$error-3d;}
	}
}
.btn-3d{
	&,&.default{
		background:linear-gradient($white,$light-gray);
		&:active,&:disabled{background:linear-gradient($light-gray,$white);}
	}
	&.success{
		background:linear-gradient($success,$success-3d);
		&:active,&:disabled{background:linear-gradient($success-3d,$success);}
	}
	&.primary,&.recommend{
		background:linear-gradient($normal-link,$recommend-3d);
		&:active,&:disabled{background:linear-gradient($recommend-3d,$normal-link);}
	}
	&.info{
		background:linear-gradient($active-link,$info-3d);
		&:active,&:disabled{background:linear-gradient($info-3d,$active-link);}
	}
	&.alert{
		background:linear-gradient($mark,$alert-3d);
		&:active,&:disabled{background:linear-gradient($alert-3d,$mark);}
	}
	&.warning{
		background:linear-gradient($warning,$warning-3d);
		&:active,&:disabled{background:linear-gradient($warning-3d,$warning);}
	}
	&.danger,&.error{
		background:linear-gradient($error,$error-3d);
		&:active,&:disabled{background:linear-gradient($error-3d,$error);}
	}
}
