/*====COLORS====*/
/*BASE*/
$black: #222222;
$darker-gray: #444444;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #DCDCDC;
$lighter-gray: #EEEEEE;
$white: #FEFEFE;

.fg-black,.black{color:$black;}
.bg-black{
	background:$black;
	&.fg-black{color:$white;}
}
.border-black{border-color:$black !important;}
.border-y-black{
	border-top-color:$black !important;
	border-bottom-color:$black !important;
}
.border-x-black{
	border-left-color:$black !important;
	border-right-color:$black !important;
}
.border-top-black{border-top-color:$black !important;}
.border-left-black{border-left-color:$black !important;}
.border-bottom-black{border-bottom-color:$black !important;}
.border-right-black{border-right-color:$black !important;}


.fg-gray-darker,.fg-grey-darker,.gray-darker,.grey-darker{color:$darker-gray;}
.bg-gray-darker,.bg-grey-darker{
	background:$darker-gray;
	&.fg-gray-darker,&.fg-grey-darker{color:$white;}
}
.border-gray-darker,.border-grey-darker{border-color:$darker-gray !important;}
.border-y-gray-darker,.border-y-grey-darker{
	border-top-color:$darker-gray !important;
	border-bottom-color:$darker-gray !important;
}
.border-x-gray-darker,.border-x-grey-darker{
	border-left-color:$darker-gray !important;
	border-right-color:$darker-gray !important;
}
.border-top-gray-darker,.border-top-grey-darker{border-top-color:$darker-gray !important;}
.border-left-gray-darker,.border-left-grey-darker{border-left-color:$darker-gray !important;}
.border-bottom-gray-darker,.border-bottom-grey-darker{border-bottom-color:$darker-gray !important;}
.border-right-gray-darker,.border-right-grey-darker{border-right-color:$darker-gray !important;}


.fg-gray-dark,.fg-grey-dark,.gray-dark,.grey-dark{color:$dark-gray;}
.bg-gray-dark,.bg-grey-dark{
	background:$dark-gray;
	&.fg-gray-dark,&.fg-grey-dark{color:$white;}
}
.border-gray-dark,.border-grey-dark{border-color:$dark-gray !important;}
.border-y-gray-dark,.border-y-grey-dark{
	border-top-color:$dark-gray !important;
	border-bottom-color:$dark-gray !important;
}
.border-x-gray-dark,.border-x-grey-dark{
	border-left-color:$dark-gray !important;
	border-right-color:$dark-gray !important;
}
.border-top-gray-dark,.border-top-grey-dark{border-top-color:$dark-gray !important;}
.border-left-gray-dark,.border-left-grey-dark{border-left-color:$dark-gray !important;}
.border-bottom-gray-dark,.border-bottom-grey-dark{border-bottom-color:$dark-gray !important;}
.border-right-gray-dark,.border-right-grey-dark{border-right-color:$dark-gray !important;}


.fg-gray,.fg-grey,.gray,.grey{color:$gray;}
.bg-gray,.bg-grey{
	background:$gray;
	&.fg-gray,&.fg-grey{color:$white;}
}
.border-gray,.border-grey{border-color:$gray !important;}
.border-y-gray,.border-y-grey{
	border-top-color:$gray !important;
	border-bottom-color:$gray !important;
}
.border-x-gray,.border-x-grey{
	border-left-color:$gray !important;
	border-right-color:$gray !important;
}
.border-top-gray,.border-top-grey{border-top-color:$gray !important;}
.border-left-gray,.border-left-grey{border-left-color:$gray !important;}
.border-bottom-gray,.border-bottom-grey{border-bottom-color:$gray !important;}
.border-right-gray,.border-right-grey{border-right-color:$gray !important;}


.fg-gray-light,.fg-grey-light,.gray-light,.grey-light{color:$light-gray;}
.bg-gray-light,.bg-grey-light{
	background:$light-gray;
	&.fg-gray-light,&.fg-grey-light{color:$black;}
}
.border-gray-light,.border-grey-light{border-color:$light-gray !important;}
.border-y-gray-light,.border-y-grey-light{
	border-top-color:$light-gray !important;
	border-bottom-color:$light-gray !important;
}
.border-x-gray-light,.border-x-grey-light{
	border-left-color:$light-gray !important;
	border-right-color:$light-gray !important;
}
.border-top-gray-light,.border-top-grey-light{border-top-color:$light-gray !important;}
.border-left-gray-light,.border-left-grey-light{border-left-color:$light-gray !important;}
.border-bottom-gray-light,.border-bottom-grey-light{border-bottom-color:$light-gray !important;}
.border-right-gray-light,.border-right-grey-light{border-right-color:$light-gray !important;}


.fg-gray-lighter,.fg-grey-lighter,.gray-lighter,.grey-lighter{color:$lighter-gray;}
.bg-gray-lighter,.bg-grey-lighter{
	background:$lighter-gray;
	&.fg-gray-lighter,&.fg-grey-lighter{color:$lighter-gray;}
}
.border-gray-lighter,.border-grey-lighter{border-color:$lighter-gray !important;}
.border-y-gray-lighter,.border-y-grey-lighter{
	border-top-color:$lighter-gray !important;
	border-bottom-color:$lighter-gray !important;
}
.border-x-gray-lighter,.border-x-grey-lighter{
	border-left-color:$lighter-gray !important;
	border-right-color:$lighter-gray !important;
}
.border-top-gray-lighter,.border-top-grey-lighter{border-top-color:$lighter-gray !important;}
.border-left-gray-lighter,.border-left-grey-lighter{border-left-color:$lighter-gray !important;}
.border-bottom-gray-lighter,.border-bottom-grey-lighter{border-bottom-color:$lighter-gray !important;}
.border-right-gray-lighter,.border-right-grey-lighter{border-right-color:$lighter-gray !important;}

.fg-white{color:$white;}
.bg-white{
	background:$white;
	&.fg-white{color:$white;}
}
.border-white{border-color:$white !important;}
.border-y-white{
	border-top-color:$white !important;
	border-bottom-color:$white !important;
}
.border-x-white{
	border-left-color:$white !important;
	border-right-color:$white !important;
}
.border-top-white{border-top-color:$white !important;}
.border-left-white{border-left-color:$white !important;}
.border-bottom-white{border-bottom-color:$white !important;}
.border-right-white{border-right-color:$white !important;}

/*SEMANTIC COLORS*/
$normal-link: #0077DD;
$recommend-3d:#00539A;
$recommend-alpha:rgba(0, 119, 221,0.2);
.fg-recommend,.recommend{color:$normal-link;}
.bg-recommend{
	background:$normal-link;
	&.recommend{color:$white;}
}
.border-recommend{border-color:$normal-link !important;}
.border-y-recommend{
	border-top-color:$normal-link !important;
	border-bottom-color:$normal-link !important;
}
.border-x-recommend{
	border-left-color:$normal-link !important;
	border-right-color:$normal-link !important;
}
.border-top-recommend{border-top-color:$normal-link !important;}
.border-left-recommend{border-left-color:$normal-link !important;}
.border-bottom-recommend{border-bottom-color:$normal-link !important;}
.border-right-recommend{border-right-color:$normal-link !important;}


$active-link: #66CCFF;
$info-3d:#478EB2;
$info-alpha:rgba(102, 204, 255,0.2);
.fg-info,.info{color:$active-link;}
.bg-info{
	background:$active-link;
	&.info{color:$white;}
}

.border-info{border-color:$active-link !important;}
.border-y-info{
	border-top-color:$active-link !important;
	border-bottom-color:$active-link !important;
}
.border-x-info{
	border-left-color:$active-link !important;
	border-right-color:$active-link !important;
}
.border-top-info{border-top-color:$active-link !important;}
.border-left-info{border-left-color:$active-link !important;}
.border-bottom-info{border-bottom-color:$active-link !important;}
.border-right-info{border-right-color:$active-link !important;}


$warning: #FF9900;
$warning-3d:#B26B00;
$warning-alpha:rgba(255, 153, 0,0.2);
.fg-warning,.warning{color:$warning;}
.bg-warning{
	background:$warning;
	&.warning{color:$white;}
}
.border-warning{border-color:$warning !important;}
.border-y-warning{
	border-top-color:$warning !important;
	border-bottom-color:$warning !important;
}
.border-x-warning{
	border-left-color:$warning !important;
	border-right-color:$warning !important;
}
.border-top-warning{border-top-color:$warning !important;}
.border-left-warning{border-left-color:$warning !important;}
.border-bottom-warning{border-bottom-color:$warning !important;}
.border-right-warning{border-right-color:$warning !important;}


$error: #EE3322;
$error-3d: #A62317;
$error-alpha:rgba(238, 51, 34,0.2);
.fg-error,.error{color:$error;}
.bg-error{
	background:$error;
	&.error{color:$white;}
}
.border-error{border-color:$error !important;}
.border-y-error{
	border-top-color:$error !important;
	border-bottom-color:$error !important;
}
.border-x-error{
	border-left-color:$error !important;
	border-right-color:$error !important;
}
.border-top-error{border-top-color:$error !important;}
.border-left-error{border-left-color:$error !important;}
.border-bottom-error{border-bottom-color:$error !important;}
.border-right-error{border-right-color:$error !important;}

$mark: #FFDD22;
$alert-3d: #B29A17;
$alert-alpha:rgba(255, 221, 34,0.2);
.fg-alert,.alert{color:$mark;}
.bg-alert{
	background:$mark;
	&.alert{color:$darker-gray;}
}
.border-alert{border-color:$mark !important;}
.border-y-alert{
	border-top-color:$mark !important;
	border-bottom-color:$mark !important;
}
.border-x-alert{
	border-left-color:$mark !important;
	border-right-color:$mark !important;
}
.border-top-alert{border-top-color:$mark !important;}
.border-left-alert{border-left-color:$mark !important;}
.border-bottom-alert{border-bottom-color:$mark !important;}
.border-right-alert{border-right-color:$mark !important;}


$success:#44DD55;
$success-3d:#2F9A3B;
$success-alpha:rgba(68, 221, 85,0.2);
.fg-success,.success{color:$success;}
.bg-success{
	background:$success;
	&.success{color:$white;}
}
.border-sucecss{border-color:$success !important;}
.border-y-sucecss{
	border-top-color:$success !important;
	border-bottom-color:$success !important;
}
.border-x-sucecss{
	border-left-color:$success !important;
	border-right-color:$success !important;
}
.border-top-sucecss{border-top-color:$success !important;}
.border-left-sucecss{border-left-color:$success !important;}
.border-bottom-sucecss{border-bottom-color:$success !important;}
.border-right-sucecss{border-right-color:$success !important;}


//DEFAULT THEME
$default-dark:$black;
$default:$dark-gray;
$default-light:$lighter-gray;
$contrasting:$white;

.fg-default-dark{color:$default-dark;}
.bg-default-dark{
	background:$default-dark;
	&.fg-default-dark{color:$white;}
}
.border-default-dark{border-color:$default-dark !important;}
.border-y-default-dark{
	border-top-color:$default-dark !important;
	border-bottom-color:$default-dark !important;
}
.border-x-default-dark{
	border-left-color:$default-dark !important;
	border-right-color:$default-dark !important;
}
.border-top-default-dark{border-top-color:$default-dark !important;}
.border-left-default-dark{border-left-color:$default-dark !important;}
.border-bottom-default-dark{border-bottom-color:$default-dark !important;}
.border-right-default-dark{border-right-color:$default-dark !important;}

.fg-default-primary{color:$default-primary;}
.bg-default-primary{
	background:$default-primary;
	&.fg-default-primary{color:$white;}
}
.border-default-primary{border-color:$default-primary !important;}
.border-y-default-primary{
	border-top-color:$default-primary !important;
	border-bottom-color:$default-primary !important;
}
.border-x-default-primary{
	border-left-color:$default-primary !important;
	border-right-color:$default-primary !important;
}
.border-top-default-primary{border-top-color:$default-primary !important;}
.border-left-default-primary{border-left-color:$default-primary !important;}
.border-bottom-default-primary{border-bottom-color:$default-primary !important;}
.border-right-default-primary{border-right-color:$default-primary !important;}


.fg-default-light{color:$default-primary;}
.bg-default-light{
	background:$default-light;
	&.fg-default-light{color:$darker-gray;}
}
.border-default-light{border-color:$default-light !important;}
.border-y-default-light{
	border-top-color:$default-light !important;
	border-bottom-color:$default-light !important;
}
.border-x-default-light{
	border-left-color:$default-light !important;
	border-right-color:$default-light !important;
}
.border-top-default-light{border-top-color:$default-light !important;}
.border-left-default-light{border-left-color:$default-light !important;}
.border-bottom-default-light{border-bottom-color:$default-light !important;}
.border-right-default-light{border-right-color:$default-light !important;}

//THEME
@import "colors/red";
@import "colors/pink";
@import "colors/purple";
@import "colors/indigo";
@import "colors/blue";
@import "colors/teal";
@import "colors/green";
@import "colors/yellow";
@import "colors/orange";
@import "colors/bluegray";
