@font-face{
	font-family:'FiraSans';
	src:url('../fonts/FiraSans/FiraSans-Regular.woff');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'FiraSans';
	src:url('../fonts/FiraSans/FiraSans-Italic.woff');
	font-weight:normal;
	font-style:italic;
}
@font-face{
	font-family:'FiraSans';
	src:url('../fonts/FiraSans/FiraSans-Bold.woff');
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:'FiraSans';
	src:url('../fonts/FiraSans/FiraSans-Bold-Italic.woff');
	font-weight:bold;
	font-style:italic;
}
@font-face{
	font-family:'FiraSansBook';
	src:url('../fonts/FiraSans/FiraSans-BookItalic.otf');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Ubuntu';
	src:url('../fonts/ubuntu/Ubuntu-R.woff');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Ubuntu';
	src:url('../fonts/ubuntu/Ubuntu-RI.woff');
	font-weight:normal;
	font-style:italic;
}
@font-face{
	font-family:'Ubuntu';
	src:url('../fonts/ubuntu/Ubuntu-B.woff');
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:'Ubuntu';
	src:url('../fonts/ubuntu/Ubuntu-BI.woff');
	font-weight:bold;
	font-style:italic;
}
@font-face{
	font-family:'Ubuntu-Mono';
	src:url('../fonts/ubuntu/UbuntuMono-R.woff');
}
