.container,.row{
	position:relative;
	display:block;
	max-width:100%;
	margin:0;
	padding:0;
	&:after{
		display:block;
		clear:both;
		float:none;
		content:"";
	}
}
.container-grid{
	margin-left: auto;
	margin-right: auto;
	width:100%;
	@include s{
		width:440px;
	}
	@include m{
		width:720px;
	}
	@include l{
		width:900px;
	}
	@include xl{
		width:1200px;
	}
}
.col {
	position:relative;
	float: left;
	width: 100%;
	margin:0;
	&.xs-1 {width: 8.33333%;}
	&.xs-2 {width:16.66666%;}
	&.xs-3 {width:24.99999%;}
	&.xs-4 {width:33.33333%;}
	&.xs-5 {width:41.66666%;}
	&.xs-6 {width:49.99999%;}
	&.xs-7 {width:58.33333%;}
	&.xs-8 {width:66.66666%;}
	&.xs-9 {width:74.99999%;}
	&.xs-10{width:83.33333%;}
	&.xs-11{width:91.66666%;}
	&.xs-12{width:99.99999%;}
	&.xs-push-1 {left: 8.33333%;}
	&.xs-push-2 {left:16.66666%;}
	&.xs-push-3 {left:24.99999%;}
	&.xs-push-4 {left:33.33333%;}
	&.xs-push-5 {left:41.66666%;}
	&.xs-push-6 {left:49.99999%;}
	&.xs-push-7 {left:58.33333%;}
	&.xs-push-8 {left:66.66666%;}
	&.xs-push-9 {left:74.99999%;}
	&.xs-push-10{left:83.33333%;}
	&.xs-push-11{left:91.66666%;}
	&.xs-push-12{left:99.99999%;}
	&.xs-pull-1 {right: 8.33333%;}
	&.xs-pull-2 {right:16.66666%;}
	&.xs-pull-3 {right:24.99999%;}
	&.xs-pull-4 {right:33.33333%;}
	&.xs-pull-5 {right:41.66666%;}
	&.xs-pull-6 {right:49.99999%;}
	&.xs-pull-7 {right:58.33333%;}
	&.xs-pull-8 {right:66.66666%;}
	&.xs-pull-9 {right:74.99999%;}
	&.xs-pull-10{right:83.33333%;}
	&.xs-pull-11{right:91.66666%;}
	&.xs-pull-12{right:99.99999%;}
	&.xs-offset-1 {margin-left: 8.33333%;}
	&.xs-offset-2 {margin-left:16.66666%;}
	&.xs-offset-3 {margin-left:24.99999%;}
	&.xs-offset-4 {margin-left:33.33333%;}
	&.xs-offset-5 {margin-left:41.66666%;}
	&.xs-offset-6 {margin-left:49.99999%;}
	&.xs-offset-7 {margin-left:58.33333%;}
	&.xs-offset-8 {margin-left:66.66666%;}
	&.xs-offset-9 {margin-left:74.99999%;}
	&.xs-offset-10{margin-left:83.33333%;}
	&.xs-offset-11{margin-left:91.66666%;}
	&.xs-offset-12{margin-left:99.99999%;}
	@include s{
		&.s-1 {width: 8.33333%;}
		&.s-2 {width:16.66666%;}
		&.s-3 {width:24.99999%;}
		&.s-4 {width:33.33333%;}
		&.s-5 {width:41.66666%;}
		&.s-6 {width:49.99999%;}
		&.s-7 {width:58.33333%;}
		&.s-8 {width:66.66666%;}
		&.s-9 {width:74.99999%;}
		&.s-10{width:83.33333%;}
		&.s-11{width:91.66666%;}
		&.s-12{width:99.99999%;}
		&.s-push-1 {left: 8.33333%;}
		&.s-push-2 {left:16.66666%;}
		&.s-push-3 {left:24.99999%;}
		&.s-push-4 {left:33.33333%;}
		&.s-push-5 {left:41.66666%;}
		&.s-push-6 {left:49.99999%;}
		&.s-push-7 {left:58.33333%;}
		&.s-push-8 {left:66.66666%;}
		&.s-push-9 {left:74.99999%;}
		&.s-push-10{left:83.33333%;}
		&.s-push-11{left:91.66666%;}
		&.s-push-12{left:99.99999%;}
		&.s-pull-1 {right: 8.33333%;}
		&.s-pull-2 {right:16.66666%;}
		&.s-pull-3 {right:24.99999%;}
		&.s-pull-4 {right:33.33333%;}
		&.s-pull-5 {right:41.66666%;}
		&.s-pull-6 {right:49.99999%;}
		&.s-pull-7 {right:58.33333%;}
		&.s-pull-8 {right:66.66666%;}
		&.s-pull-9 {right:74.99999%;}
		&.s-pull-10{right:83.33333%;}
		&.s-pull-11{right:91.66666%;}
		&.s-pull-12{right:99.99999%;}
		&.s-offset-1 {margin-left: 8.33333%;}
		&.s-offset-2 {margin-left:16.66666%;}
		&.s-offset-3 {margin-left:24.99999%;}
		&.s-offset-4 {margin-left:33.33333%;}
		&.s-offset-5 {margin-left:41.66666%;}
		&.s-offset-6 {margin-left:49.99999%;}
		&.s-offset-7 {margin-left:58.33333%;}
		&.s-offset-8 {margin-left:66.66666%;}
		&.s-offset-9 {margin-left:74.99999%;}
		&.s-offset-10{margin-left:83.33333%;}
		&.s-offset-11{margin-left:91.66666%;}
		&.s-offset-12{margin-left:99.99999%;}
	}
	@include m{
		&.m-1 {width: 8.33333%;}
		&.m-2 {width:16.66666%;}
		&.m-3 {width:24.99999%;}
		&.m-4 {width:33.33333%;}
		&.m-5 {width:41.66666%;}
		&.m-6 {width:49.99999%;}
		&.m-7 {width:58.33333%;}
		&.m-8 {width:66.66666%;}
		&.m-9 {width:74.99999%;}
		&.m-10{width:83.33333%;}
		&.m-11{width:91.66666%;}
		&.m-12{width:99.99999%;}
		&.m-push-1 {left: 8.33333%;}
		&.m-push-2 {left:16.66666%;}
		&.m-push-3 {left:24.99999%;}
		&.m-push-4 {left:33.33333%;}
		&.m-push-5 {left:41.66666%;}
		&.m-push-6 {left:49.99999%;}
		&.m-push-7 {left:58.33333%;}
		&.m-push-8 {left:66.66666%;}
		&.m-push-9 {left:74.99999%;}
		&.m-push-10{left:83.33333%;}
		&.m-push-11{left:91.66666%;}
		&.m-push-12{left:99.99999%;}
		&.m-pull-1 {right: 8.33333%;}
		&.m-pull-2 {right:16.66666%;}
		&.m-pull-3 {right:24.99999%;}
		&.m-pull-4 {right:33.33333%;}
		&.m-pull-5 {right:41.66666%;}
		&.m-pull-6 {right:49.99999%;}
		&.m-pull-7 {right:58.33333%;}
		&.m-pull-8 {right:66.66666%;}
		&.m-pull-9 {right:74.99999%;}
		&.m-pull-10{right:83.33333%;}
		&.m-pull-11{right:91.66666%;}
		&.m-pull-12{right:99.99999%;}
		&.m-offset-1 {margin-left: 8.33333%;}
		&.m-offset-2 {margin-left:16.66666%;}
		&.m-offset-3 {margin-left:24.99999%;}
		&.m-offset-4 {margin-left:33.33333%;}
		&.m-offset-5 {margin-left:41.66666%;}
		&.m-offset-6 {margin-left:49.99999%;}
		&.m-offset-7 {margin-left:58.33333%;}
		&.m-offset-8 {margin-left:66.66666%;}
		&.m-offset-9 {margin-left:74.99999%;}
		&.m-offset-10{margin-left:83.33333%;}
		&.m-offset-11{margin-left:91.66666%;}
		&.m-offset-12{margin-left:99.99999%;}
	}
	@include l{
		&.l-1 {width: 8.33333%;}
		&.l-2 {width:16.66666%;}
		&.l-3 {width:24.99999%;}
		&.l-4 {width:33.33333%;}
		&.l-5 {width:41.66666%;}
		&.l-6 {width:49.99999%;}
		&.l-7 {width:58.33333%;}
		&.l-8 {width:66.66666%;}
		&.l-9 {width:74.99999%;}
		&.l-10{width:83.33333%;}
		&.l-11{width:91.66666%;}
		&.l-12{width:99.99999%;}
		&.l-push-1 {left: 8.33333%;}
		&.l-push-2 {left:16.66666%;}
		&.l-push-3 {left:24.99999%;}
		&.l-push-4 {left:33.33333%;}
		&.l-push-5 {left:41.66666%;}
		&.l-push-6 {left:49.99999%;}
		&.l-push-7 {left:58.33333%;}
		&.l-push-8 {left:66.66666%;}
		&.l-push-9 {left:74.99999%;}
		&.l-push-10{left:83.33333%;}
		&.l-push-11{left:91.66666%;}
		&.l-push-12{left:99.99999%;}
		&.l-pull-1 {right: 8.33333%;}
		&.l-pull-2 {right:16.66666%;}
		&.l-pull-3 {right:24.99999%;}
		&.l-pull-4 {right:33.33333%;}
		&.l-pull-5 {right:41.66666%;}
		&.l-pull-6 {right:49.99999%;}
		&.l-pull-7 {right:58.33333%;}
		&.l-pull-8 {right:66.66666%;}
		&.l-pull-9 {right:74.99999%;}
		&.l-pull-10{right:83.33333%;}
		&.l-pull-11{right:91.66666%;}
		&.l-pull-12{right:99.99999%;}
		&.l-offset-1 {margin-left: 8.33333%;}
		&.l-offset-2 {margin-left:16.66666%;}
		&.l-offset-3 {margin-left:24.99999%;}
		&.l-offset-4 {margin-left:33.33333%;}
		&.l-offset-5 {margin-left:41.66666%;}
		&.l-offset-6 {margin-left:49.99999%;}
		&.l-offset-7 {margin-left:58.33333%;}
		&.l-offset-8 {margin-left:66.66666%;}
		&.l-offset-9 {margin-left:74.99999%;}
		&.l-offset-10{margin-left:83.33333%;}
		&.l-offset-11{margin-left:91.66666%;}
		&.l-offset-12{margin-left:99.99999%;}
	}
	@include xl{
		&.xl-1 {width: 8.33333%;}
		&.xl-2 {width:16.66666%;}
		&.xl-3 {width:24.99999%;}
		&.xl-4 {width:33.33333%;}
		&.xl-5 {width:41.66666%;}
		&.xl-6 {width:49.99999%;}
		&.xl-7 {width:58.33333%;}
		&.xl-8 {width:66.66666%;}
		&.xl-9 {width:74.99999%;}
		&.xl-10{width:83.33333%;}
		&.xl-11{width:91.66666%;}
		&.xl-12{width:99.99999%;}
		&.xl-push-1 {left: 8.33333%;}
		&.xl-push-2 {left:16.66666%;}
		&.xl-push-3 {left:24.99999%;}
		&.xl-push-4 {left:33.33333%;}
		&.xl-push-5 {left:41.66666%;}
		&.xl-push-6 {left:49.99999%;}
		&.xl-push-7 {left:58.33333%;}
		&.xl-push-8 {left:66.66666%;}
		&.xl-push-9 {left:74.99999%;}
		&.xl-push-10{left:83.33333%;}
		&.xl-push-11{left:91.66666%;}
		&.xl-push-12{left:99.99999%;}
		&.xl-pull-1 {right: 8.33333%;}
		&.xl-pull-2 {right:16.66666%;}
		&.xl-pull-3 {right:24.99999%;}
		&.xl-pull-4 {right:33.33333%;}
		&.xl-pull-5 {right:41.66666%;}
		&.xl-pull-6 {right:49.99999%;}
		&.xl-pull-7 {right:58.33333%;}
		&.xl-pull-8 {right:66.66666%;}
		&.xl-pull-9 {right:74.99999%;}
		&.xl-pull-10{right:83.33333%;}
		&.xl-pull-11{right:91.66666%;}
		&.xl-pull-12{right:99.99999%;}
		&.xl-offset-1 {margin-left: 8.33333%;}
		&.xl-offset-2 {margin-left:16.66666%;}
		&.xl-offset-3 {margin-left:24.99999%;}
		&.xl-offset-4 {margin-left:33.33333%;}
		&.xl-offset-5 {margin-left:41.66666%;}
		&.xl-offset-6 {margin-left:49.99999%;}
		&.xl-offset-7 {margin-left:58.33333%;}
		&.xl-offset-8 {margin-left:66.66666%;}
		&.xl-offset-9 {margin-left:74.99999%;}
		&.xl-offset-10{margin-left:83.33333%;}
		&.xl-offset-11{margin-left:91.66666%;}
		&.xl-offset-12{margin-left:99.99999%;}
	}
}
