
/****************************
 *			Lists			*
 ****************************/
 .no-list-style{list-style:none;}
.ul,
ul {
	list-style: disc inside;
}

.ol,
ol {
	list-style: decimal inside;
}

.ol,
.ul,
ol,
ul {
	padding-left: 0;
	margin-top: 0;

	& .ul,
	& ul {
		list-style: circle inside;
	}

	& .ol,
	& .ul,
	& ol,
	& ul {
		margin:0 0 0.5rem 1.5rem;
		font-size: 90%;

		& .ul,
		& ul {
			list-style: square inside;
		}
	}
}

li {
	margin:0 0 .5rem 1rem;
	text-align: -webkit-match-parent;
	text-align: -moz-match-parent;
	text-align: -ms-match-parent;
	text-align: -o-match-parent;
	text-align: match-parent;
}

.list-inline{
	padding-left:0;
	margin:0;
	&>li{
		display:inline-block;
		padding-right:5px;
		padding-left:5px;
	}
	&>dt,&>.dt{
		float: left;
		width: 160px;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
		position: relative;
		margin-top: -2px;
	}
	&>dd,&>.dd{
		margin-left: 180px;
		&:after{clear:both;}
	}
}
dl,.dl{
	& dt,& .dt{
		margin:0 0 .5rem .5rem;
		font-weight: bold;
		list-style: none;
	}
	& dd, & .dd{
		margin:0 0 .5rem 1.5rem;
		padding-left:1rem;
	}
}
