/****************************
 *		 Miscellanea		 *
 ****************************/
 .scrollable{overflow:auto;}
/*SIZING*/
.width-10	{width:10%;}
.width-20	{width:20%;}
.width-30	{width:30%;}
.width-40	{width:40%;}
.width-50	{width:50%;}
.width-60	{width:60%;}
.width-70	{width:70%;}
.width-80	{width:80%;}
.width-90	{width:90%;}
.width-100	{width:100%;}
.max-width-10	{max-width:10%;}
.max-width-20	{max-width:20%;}
.max-width-30	{max-width:30%;}
.max-width-40	{max-width:40%;}
.max-width-50	{max-width:50%;}
.max-width-60	{max-width:60%;}
.max-width-70	{max-width:70%;}
.max-width-80	{max-width:80%;}
.max-width-90	{max-width:90%;}
.max-width-100	{max-width:100%;}

.width-10-v	{width:10vw;}
.width-20-v	{width:20vw;}
.width-30-v	{width:30vw;}
.width-40-v	{width:40vw;}
.width-50-v	{width:50vw;}
.width-60-v	{width:60vw;}
.width-70-v	{width:70vw;}
.width-80-v	{width:80vw;}
.width-90-v	{width:90vw;}
.width-100-v{width:100vw;}
.max-width-10-v	{max-width:10vw;}
.max-width-20-v	{max-width:20vw;}
.max-width-30-v	{max-width:30vw;}
.max-width-40-v	{max-width:40vw;}
.max-width-50-v	{max-width:50vw;}
.max-width-60-v	{max-width:60vw;}
.max-width-70-v	{max-width:70vw;}
.max-width-80-v	{max-width:80vw;}
.max-width-90-v	{max-width:90vw;}
.max-width-100-v{max-width:100vw;}

.height-10	{height:10%;}
.height-20	{height:20%;}
.height-30	{height:30%;}
.height-40	{height:40%;}
.height-50	{height:50%;}
.height-60	{height:60%;}
.height-70	{height:70%;}
.height-80	{height:80%;}
.height-90	{height:90%;}
.height-100	{height:100%;}
.max-height-10	{max-height:10%;}
.max-height-20	{max-height:20%;}
.max-height-30	{max-height:30%;}
.max-height-40	{max-height:40%;}
.max-height-50	{max-height:50%;}
.max-height-60	{max-height:60%;}
.max-height-70	{max-height:70%;}
.max-height-80	{max-height:80%;}
.max-height-90	{max-height:90%;}
.max-height-100	{max-height:100%;}

.height-10-v	{height:10vh;}
.height-20-v	{height:20vh;}
.height-30-v	{height:30vh;}
.height-40-v	{height:40vh;}
.height-50-v	{height:50vh;}
.height-60-v	{height:60vh;}
.height-70-v	{height:70vh;}
.height-80-v	{height:80vh;}
.height-90-v	{height:90vh;}
.height-100-v	{height:100vh;}
.max-height-10-v	{max-height:10vh;}
.max-height-20-v	{max-height:20vh;}
.max-height-30-v	{max-height:30vh;}
.max-height-40-v	{max-height:40vh;}
.max-height-50-v	{max-height:50vh;}
.max-height-60-v	{max-height:60vh;}
.max-height-70-v	{max-height:70vh;}
.max-height-80-v	{max-height:80vh;}
.max-height-90-v	{max-height:90vh;}
.max-height-100-v	{max-height:100vh;}
/*font sizing*/
.size-xxxs,.size-xxxs *	{font-size:6px !important;}
.size-xxs,.size-xxs *	{font-size:8px !important;}
.size-xs,.size-xs *		{font-size:10px !important;}
.size-s,.size-s *		{font-size:12px !important;}
.font-normal,.font-normal *, .size-normal,.size-normal *
.size-m,.size-m *		{font-size:16px !important;}
.size-l,.size-l *		{font-size:24px !important;}
.size-xl,.size-xl *		{font-size:36px !important;}
.size-xxl,.size-xxl *	{font-size:48px !important;}
.size-xxxl,.size-xxxl *	{font-size:64px !important;}
/**/
/**/
/*POSITION*/
.center{display:block;margin:inherit auto;}

.float-none{float:none;}
.float-left{float:left;}
.float-right{float:right;}

.clear-left{clear:left;}
.clear-right{clear:right;}
.container:after,.row:after,.clear,
.clear-fix,.clear-both{clear:both;}
.center-absolute{
	margin:0px;
	position:absolute;
	top: 50vh;
	left:50vw;
	transform: translate(-50%,-50%);
}
/**/
/*TEXT FORMAT*/
.align-left		 {text-align:left !important;}
.align-right	{text-align:right !important;}
.align-justify{text-align:justify !important;}
.align-center {text-align: center !important;}
.text-nowrap{white-space:nowrap;}
.text-lowercase{text-transform:lowercase;}
.text-uppercase{text-transform:uppercase;}
.text-capitalize{text-transform:capitalize;}
/**/
/*MARGIN*/
.no-margin		{margin:0	!important;}
.margin-xs		{margin:1px		!important;}
.margin-s		{margin:4px		!important;}
.margin-m		{margin:8px		!important;}
.margin,.margin-l{margin:16px	!important;}
.margin-xl		{margin:32px	!important;}
.margin-xxl		{margin:64px	!important;}

.no-margin-y		{margin-top:0	!important;margin-bottom:0	!important;}
.margin-xs-y		{margin-bottom:1px	!important;margin-top:1px	!important;}
.margin-s-y			{margin-bottom:4px	!important;margin-top:4px	!important;}
.margin-m-y			{margin-bottom:8px	!important;margin-top:8px	!important;}
.margin-y,.margin-l-y{margin-bottom:16px!important;margin-top:16px	!important;}
.margin-xl-y		{margin-bottom:32px!important;margin-top:32px	!important;}
.margin-xxl-y		{margin-bottom:64px!important;margin-top:64px	!important;}

.no-margin-x		{margin-right:0	!important;margin-left:0		!important;}
.margin-xs-x		{margin-right:1px	!important;margin-left:1px	!important;}
.margin-s-x			{margin-right:4px	!important;margin-left:4px	!important;}
.margin-m-x			{margin-right:8px	!important;margin-left:8px	!important;}
.margin-x,.margin-l-x{margin-right:16px!important;margin-left:16px	!important;}
.margin-xl-x		{margin-right:32px!important;margin-left:32px	!important;}
.margin-xxl-x		{margin-right:64px!important;margin-left:64px	!important;}

.no-margin-top			{margin-top:0		!important;}
.margin-top-xs			{margin-top:1px		!important;}
.margin-top-s			{margin-top:4px		!important;}
.margin-top-m			{margin-top:8px		!important;}
.margin-top,.margin-top-l{margin-top:16px	!important;}
.margin-top-xl			{margin-top:32px	!important;}
.margin-top-xxl			{margin-top:64px	!important;}

.no-margin-bottom				{margin-bottom:0	!important;}
.margin-bottom-xs				{margin-bottom:1px	!important;}
.margin-bottom-s				{margin-bottom:4px	!important;}
.margin-bottom-m				{margin-bottom:8px	!important;}
.margin-bottom,.margin-bottom-l	{margin-bottom:16px	!important;}
.margin-bottom-xl				{margin-bottom:32px	!important;}
.margin-bottom-xxl				{margin-bottom:64px	!important;}

.no-margin-left				{margin-left:0		!important;}
.margin-left-xs				{margin-left:1px	!important;}
.margin-left-s				{margin-left:4px	!important;}
.margin-left-m				{margin-left:8px	!important;}
.margin-left,.margin-left-l {margin-left:16px	!important;}
.margin-left-xl				{margin-left:32px	!important;}
.margin-left-xxl			{margin-left:64px	!important;}

.no-margin-right			{margin-right:0		!important;}
.margin-right-xs			{margin-right:1px	!important;}
.margin-right-s				{margin-right:4px	!important;}
.margin-right-m				{margin-right:8px	!important;}
.margin-right,.margin-right-l{margin-right:16px	!important;}
.margin-right-xl			{margin-right:32px	!important;}
.margin-right-xxl			{margin-right:64px	!important;}
/**/
/*PADDING*/
.no-padding			{padding:0		!important;}
.padding-xs			{padding:1px	!important;}
.padding-s			{padding:4px	!important;}
.padding-m			{padding:8px	!important;}
.padding,.padding-l	{padding:16px	!important;}
.padding-xl			{padding:32px	!important;}
.padding-xxl		{padding:64px	!important;}

.no-padding-y		{padding-top:0		!important;padding-bottom:0		!important;}
.padding-xs-y		{padding-bottom:1px	!important;padding-top:1px		!important;}
.padding-s-y		{padding-bottom:4px	!important;padding-top:4px		!important;}
.padding-m-y		{padding-bottom:8px	!important;padding-top:8px		!important;}
.padding-y,.padding-l-y{padding-bottom:16px!important;padding-top:16px	!important;}
.padding-xl-y		{padding-bottom:32px!important;padding-top:32px		!important;}
.padding-xxl-y		{padding-bottom:64px!important;padding-top:64px		!important;}

.no-padding-x		{padding-right:0	!important;padding-left:0		!important;}
.padding-xs-x		{padding-right:1px	!important;padding-left:1px		!important;}
.padding-s-x		{padding-right:4px	!important;padding-left:4px		!important;}
.padding-m-x		{padding-right:8px	!important;padding-left:8px		!important;}
.padding-x,.padding-l-x{padding-right:16px!important;padding-left:16px	!important;}
.padding-xl-x		{padding-right:32px	!important;padding-left:32px	!important;}
.padding-xxl-x		{padding-right:64px	!important;padding-left:64px	!important;}

.no-padding-top				{padding-top:0		!important;}
.padding-top-xs				{padding-top:1px	!important;}
.padding-top-s				{padding-top:4px	!important;}
.padding-top-m				{padding-top:8px	!important;}
.padding-top,.margin-top-l	{padding-top:16px	!important;}
.padding-top-xl				{padding-top:32px	!important;}
.padding-top-xxl			{padding-top:64px	!important;}

.no-padding-bottom				{padding-bottom:0		!important;}
.padding-bottom-xs				{padding-bottom:1px		!important;}
.padding-bottom-s				{padding-bottom:4px		!important;}
.padding-bottom-m				{padding-bottom:8px		!important;}
.padding-bottom,.padding-bottom-l{padding-bottom:16px	!important;}
.padding-bottom-xl				{padding-bottom:32px	!important;}
.padding-bottom-xxl				{padding-bottom:64px	!important;}

.no-padding-left			{padding-left:0		!important;}
.padding-left-xs			{padding-left:1px	!important;}
.padding-left-s				{padding-left:4px	!important;}
.padding-left-m				{padding-left:8px	!important;}
.padding-left,.padding-left-l{padding-left:16px	!important;}
.padding-left-xl			{padding-left:32px	!important;}
.padding-left-xxl			{padding-left:64px	!important;}

.no-padding-right				{padding-right:0	!important;}
.padding-right-xs				{padding-right:1px	!important;}
.padding-right-s				{padding-right:4px	!important;}
.padding-right-m				{padding-right:8px	!important;}
.padding-right,.padding-right-l	{padding-right:16px	!important;}
.padding-right-xl				{padding-right:32px	!important;}
.padding-right-xxl				{padding-right:64px	!important;}
/**/
/*BORDERS*/
.border-*,.border-solid{border-style:solid;}
.border-dashed	{border-style:dashed	!important;}
.border-dotted	{border-style:dotted	!important;}
.border-double	{border-style:double	!important;}
.border-inset	{border-style:inset	!important;}
.border-outset	{border-style:outset	!important;}
.border-groove	{border-style:groove	!important;}
.border-ridge	{border-style:ridge	!important;}
.no-border{border:none !important;}
.border,.border-s{border-width:1px !important;}
.border-m{border:2px solid $primary !important;}
.border-large,.border-l{border:4px solid $primary !important;}

.border-top,.border-top-s{border-top:1px solid $primary !important;}
.border-top-m{border-top:2px solid $primary !important;}
.border-top-l{border-top:4px solid $primary !important;}

.border-bottom,.border-bottom-s{border-bottom:1px solid $primary !important;}
.border-bottom-m{border-bottom:2px solid $primary !important;}
.border-bottom-l{border-bottom:4px solid $primary !important;}

.border-left,.border-left-s{border-left:1px solid $primary !important;}
.border-left-m{border-left:2px solid $primary !important;}
.border-left-l{border-left:4px solid $primary !important;}

.border-right,.border-right-s{border-right:1px solid $primary !important;}
.border-right-m{border-right:2px solid $primary !important;}
.border-right-l{border-right:4px solid $primary !important;}

.radius-xs{border-radius:2px;}
.radius,.radius-s{border-radius:4px;}
.radius-m{border-radius:8px;}
.radius-l{border-radius:16px;}
.radius-xl{border-radius:32px;}
.circle{border-radius:50%;}
/**/
/*ANIMATIONS*/
.spin{animation:spin 2s infinite linear;}
@keyframes spin{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(359deg);}
}

.fading{animation:fading 10s infinite;}
@keyframes fading{
	0%{opacity:0;}
	50%{opacity:1;}
	100%{opacity: 0;}
}

.opacity{animation:opacity-a 0.8s;}
@keyframes opacity-a {
	0%{opacity:0;}
	100%{opacity:1;}
}

.animate-top{
	position: relative;
	animation: animatetop 0.4s;
}
@keyframes animatetop{
	0%{top: -100vh;opacity:0;}
	100%{top:0;opacity:1;}
}

.animate-left{
	position:relative;
	animation:animateleft 0.4s;
}
@keyframes animateleft{
	0%{left:-100vw;opacity:0;}
	100%{left:0;opacity:1;}
}

.animate-right{
	position:relative;
	animation:animateright 0.4s;
}
@keyframes animateright{
	0%{right:-100vw;opacity:0;}
	100%{right:0;opacity:1;}
}

.animate-bottom{
	position:relative;
	animation:animatebottom 0.4s;
}
@keyframes animatebottom{
	0%{bottom:-100vh;opacity:0;}
	100%{bottom:0;opacity:1;}
}

.animate-zoom{
	animation:animatezoom 0.6s
}
@keyframes animatezoom {
	0%{transform:scale(0);}
	100%{transform:scale(1);}
}/**/
