/*====RESET====*/
html {
	overflow-x: hidden;
	&,
	*,
	*:after,
	*:before,
	body{
		font-size: 16px;
		line-height: 1.25;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		background: transparent;
		outline: none;
		color: $black;
		font-family: $sans;
		/* compatibility */
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-webkit-overflow-scrolling: touch;
		&:invalid,&:-moz-ui-invalid{
			-webkit-box-shadow: 0px 0px 1px 1px #FF3333;
			-moz-box-shadow: 0px 0px 1px 1px #FF3333;
			box-shadow: 0px 0px 1px 1px #FF3333;
		}
		&:focus{outline:none;}
		@include print{
			color: $black !important;
			text-shadow: none !important;
			background: transparent !important;
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		}
	}
}
//DISPLAY: NONE
.hidden,[hidden],[type=hidden],head,link,
meta,script,style,template,title{
	display: none;
}
//TODO resposive class hidden
//DISPLAY: INLINE
.inline,a,abbr,acronym,b,bdo,big,br,cite,code,dfn,
em,i,img,kbd,label,map,mark,object,q,
small,span,strong,sub,sup,time,tt,var{
	display: inline;
}
//DISPLAY: BLOCK
.block,address,article,aside,blockquote,body,center,
dd,details,div,dl,fieldset,figcaption,figure,footer,form,
h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,layer,legend,main,menu,
nav,noscript,ol,output,p,pre,section,ul{
	display: block;
	word-break: normal;
	word-wrap: break-word;
	margin-bottom: 1rem;
}
section{padding:16px;}

.list-item,dt,li,summary{display:list-item;}
.center,[center],center{text-align:center;}
h1,h2,h3,h4,h5,h6{
	letter-spacing:0;
	margin:0.2em 0;
}

h1{font-size: 2.5em;}
h2{font-size: 1.8em;}
h3{font-size: 1.5em;}
h4{font-size: 1.25em;}
h5{font-size: 0.95em;}
h6{font-size: 0.8em;}
.inline-block,audio,button,canvas,input,keygen,label,
marquee,progress,samp,select,textarea,video{
	display: inline-block;
}
progress{vertical-align:baseline;}
blockquote,cite,dfn{font-family:$book;}

blockquote,cite,q{
	&:before{
		font-family: $icomoon;
		content: "\e934";
		padding-right: 0.5em;
	}
	&:after{
		font-family: $icomoon;
		content: "\e935";
		padding-left: 0.5em;
	}
}
.link,
a{
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	outline-width: 0;
	&,
	&:visited {
		color: $normal-link;
	}
	&:focus,
	&:hover {
		text-decoration: underline;
		&,
		&:active {
			color: $active-link;
		}
	}
	@include print{
		&:after{
			content:" ("attr(href)")";
		}
	}
}
abbr[data-original-title],
abbr[title],
acronym[data-original-title],
acronym[title] {
	border: none;
	text-decoration: underline dotted;
	cursor: help;
}
.bold,
b,
strong, {
	font-weight: bolder;
}
.italic,
dfn,
em,
i {
	font-style: italic;
}

.mark,
mark {
	background-color: $mark;
	color: $black;
	padding: 0.2em;
}

hr {
	border: none;
	overflow: hidden;
	min-height: 2px;
	margin: 1.5em 2vw;
	background: $primary;
}

.small,
.sub,
.sup,
small,
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
.sub,
sub {
	bottom: -0.25em;
}
.sup,
sup {
	top: -0.5em;
}

address {
	margin: 1em;
	font-style: normal;
}
::selection{
	background:$primary;
	color:$contrasting;
}
@import "media";
