@font-face{
	font-family:'icomoon';
	src:url('../fonts/icomoon/icomoon.woff?bi8pro') format('woff')
}
[class^="icon-"]:before,
[class*="icon-"]:before{
	font-family:'icomoon' !important;
	speak:none;
	color:inherit;
	text-transform:none;
	line-height:1;
}
.icon-home:before				{content:"\e900";}
.icon-pencil:before				{content:"\e901";}
.icon-image:before				{content:"\e902";}
.icon-camera:before				{content:"\e903";}
.icon-music:before				{content:"\e904";}
.icon-film:before				{content:"\e905";}
.icon-connection:before			{content:"\e906";}
.icon-mic:before				{content:"\e907";}
.icon-file-text:before			{content:"\e908";}
.icon-profile:before			{content:"\e909";}
.icon-file-zip:before			{content:"\e90a";}
.icon-stack:before				{content:"\e90b";}
.icon-folder:before				{content:"\e90c";}
.icon-folder-open:before		{content:"\e90d";}
.icon-folder-plus:before		{content:"\e90e";}
.icon-folder-minus:before		{content:"\e90f";}
.icon-folder-download:before	{content:"\e910";}
.icon-folder-upload:before		{content:"\e911";}
.icon-price-tag:before			{content:"\e912";}
.icon-qrcode:before				{content:"\e913";}
.icon-coin-dollar:before		{content:"\e914";}
.icon-credit-card:before		{content:"\e916";}
.icon-calculator:before			{content:"\e917";}
.icon-phone:before				{content:"\e919";}
.icon-phone-hang-up:before		{content:"\e91a";}
.icon-address-book:before		{content:"\e91b";}
.icon-envelop:before			{content:"\e91c";}
.icon-plane:before				{content:"\e915";}
.icon-clock:before				{content:"\e91e";}
.icon-alarm:before				{content:"\e91f";}
.icon-bell:before				{content:"\e920";}
.icon-stopwatch:before			{content:"\e921";}
.icon-printer:before			{content:"\e922";}
.icon-keyboard:before			{content:"\e923";}
.icon-display:before			{content:"\e924";}
.icon-laptop:before				{content:"\e925";}
.icon-mobile:before				{content:"\e926";}
.icon-tablet:before				{content:"\e927";}
.icon-download:before			{content:"\e929";}
.icon-upload:before				{content:"\e92a";}
.icon-floppy-disk:before		{content:"\e92b";}
.icon-bubble2:before			{content:"\e92c";}
.icon-bubbles4:before			{content:"\e92d";}
.icon-user:before				{content:"\e92e";}
.icon-users:before				{content:"\e92f";}
.icon-user-plus:before			{content:"\e930";}
.icon-user-minus:before			{content:"\e931";}
.icon-quotes-left:before		{content:"\e934";}
.icon-quotes-right:before		{content:"\e935";}
.icon-spinner3:before			{content:"\e937";}
.icon-spinner8:before			{content:"\e938";}
.icon-zoom-in:before			{content:"\e939";}
.icon-zoom-out:before			{content:"\e93a";}
.icon-key2:before				{content:"\e93f";}
.icon-lock:before				{content:"\e940";}
.icon-unlocked:before			{content:"\e941";}
.icon-equalizer:before			{content:"\e942";}
.icon-equalizer2:before			{content:"\e943";}
.icon-cog:before				{content:"\e944";}
.icon-stats-bars:before			{content:"\e946";}
.icon-rocket:before				{content:"\e918";}
.icon-shield:before				{content:"\e91d";}
.icon-switch:before				{content:"\e947";}
.icon-list-numbered:before		{content:"\e948";}
.icon-list:before				{content:"\e949";}
.icon-list2:before				{content:"\e94a";}
.icon-menu:before				{content:"\e94c";}
.icon-sphere:before				{content:"\e94d";}
.icon-link:before				{content:"\e94e";}
.icon-attachment:before			{content:"\e94f";}
.icon-bookmark:before			{content:"\e950";}
.icon-sun:before				{content:"\e951";}
.icon-brightness-contrast:before{content:"\e952";}
.icon-star-empty:before			{content:"\e953";}
.icon-star-half:before			{content:"\e954";}
.icon-star-full:before			{content:"\e955";}
.icon-smile:before				{content:"\e958";}
.icon-smile2:before				{content:"\e959";}
.icon-sad:before				{content:"\e95a";}
.icon-sad2:before				{content:"\e95b";}
.icon-wink:before				{content:"\e95c";}
.icon-wink2:before				{content:"\e95d";}
.icon-grin:before				{content:"\e95e";}
.icon-grin2:before				{content:"\e95f";}
.icon-cool:before				{content:"\e960";}
.icon-cool2:before				{content:"\e961";}
.icon-confused:before			{content:"\e962";}
.icon-confused2:before			{content:"\e963";}
.icon-warning:before			{content:"\e964";}
.icon-notification:before		{content:"\e965";}
.icon-question:before			{content:"\e966";}
.icon-plus:before				{content:"\e967";}
.icon-minus:before				{content:"\e968";}
.icon-info:before				{content:"\e969";}
.icon-cancel-circle:before		{content:"\e928";}
.icon-cross:before				{content:"\e96a";}
.icon-checkmark:before			{content:"\e96b";}
.icon-play2:before				{content:"\e96c";}
.icon-pause:before				{content:"\e96d";}
.icon-stop:before				{content:"\e96e";}
.icon-previous:before			{content:"\e96f";}
.icon-next:before				{content:"\e970";}
.icon-backward:before			{content:"\e971";}
.icon-forward2:before			{content:"\e972";}
.icon-play3:before				{content:"\e973";}
.icon-pause2:before				{content:"\e974";}
.icon-stop2:before				{content:"\e975";}
.icon-backward2:before			{content:"\e976";}
.icon-forward3:before			{content:"\e977";}
.icon-first:before				{content:"\e978";}
.icon-last:before				{content:"\e979";}
.icon-previous2:before			{content:"\e97a";}
.icon-next2:before				{content:"\e97b";}
.icon-eject:before				{content:"\e97c";}
.icon-volume-high:before		{content:"\e97d";}
.icon-volume-medium:before		{content:"\e97e";}
.icon-volume-low:before			{content:"\e97f";}
.icon-volume-mute:before		{content:"\e980";}
.icon-volume-mute2:before		{content:"\e981";}
.icon-volume-increase:before	{content:"\e982";}
.icon-volume-decrease:before	{content:"\e983";}
.icon-loop:before				{content:"\e984";}
.icon-loop2:before				{content:"\e985";}
.icon-infinite:before			{content:"\e986";}
.icon-shuffle:before			{content:"\e987";}
.icon-arrow-up-left2:before		{content:"\e932";}
.icon-arrow-up2:before			{content:"\e933";}
.icon-arrow-up-right2:before	{content:"\e936";}
.icon-arrow-right2:before		{content:"\e93b";}
.icon-arrow-down-right2:before	{content:"\e93c";}
.icon-arrow-down2:before		{content:"\e93d";}
.icon-arrow-down-left2:before	{content:"\e93e";}
.icon-arrow-left2:before		{content:"\e945";}
.icon-circle-up:before			{content:"\e988";}
.icon-circle-right:before		{content:"\e989";}
.icon-circle-down:before		{content:"\e98a";}
.icon-circle-left:before		{content:"\e98b";}
.icon-checkbox-checked:before	{content:"\e98c";}
.icon-checkbox-unchecked:before	{content:"\e98d";}
.icon-radio-checked:before		{content:"\e98e";}
.icon-radio-checked2:before		{content:"\e98f";}
.icon-radio-unchecked:before	{content:"\e990";}
.icon-embed:before				{content:"\e991";}
.icon-embed2:before				{content:"\e992";}
.icon-terminal:before			{content:"\e993";}
.icon-google-plus2:before		{content:"\e94b";}
.icon-google-plus3:before		{content:"\e956";}
.icon-facebook:before			{content:"\e997";}
.icon-facebook2:before			{content:"\e998";}
.icon-whatsapp:before			{content:"\e999";}
.icon-telegram:before			{content:"\e99a";}
.icon-twitter:before			{content:"\e99b";}
.icon-rss2:before				{content:"\e99c";}
.icon-youtube:before			{content:"\e99d";}
.icon-github:before				{content:"\e99e";}
.icon-blogger:before			{content:"\e99f";}
.icon-blogger2:before			{content:"\e9a0";}
.icon-tumblr:before				{content:"\e9a1";}
.icon-tumblr2:before			{content:"\e9a2";}
.icon-tux:before				{content:"\e9a3";}
.icon-appleinc:before			{content:"\e9a4";}
.icon-android:before			{content:"\e9a5";}
.icon-windows8:before			{content:"\e9a6";}
.icon-hackernews:before			{content:"\e9a7";}
.icon-stackoverflow:before		{content:"\e9a8";}
.icon-chrome:before				{content:"\e9a9";}
.icon-firefox:before			{content:"\e9aa";}
.icon-IE:before					{content:"\e9ab";}
.icon-edge:before				{content:"\e9ac";}
.icon-safari:before				{content:"\e9ad";}
.icon-opera:before				{content:"\e9ae";}
.icon-file-pdf:before			{content:"\e9af";}
.icon-libreoffice:before		{content:"\e9b0";}
.icon-html-five:before			{content:"\e9b1";}
.icon-html-five2:before			{content:"\e9b2";}
.icon-git:before				{content:"\e9b3";}
