/*====CODE====*/
.code,
.code-block,
code,
kbd,
pre,
samp {
	display: inline-block;
	position: relative;
	border-radius: $border-radius-normal;
	border: solid 1px $default-dark;
	color: $default-dark;
	border-left-width: 4px;
	max-width: 100%;
	font-family: $mono;
	font-size: 95%;
	overflow-x: auto;
	white-space: pre;
	word-wrap: break-word;
	padding: 2px 4px;
	line-height: 1.4;

	@include print {
		color: $black;
		background: $white;
		border-color: $black;
		page-break-inside: avoid;
	}
}

pre,
.code-block {
	border-radius: $border-radius-normal;
	border-width: 2px;
	border-left-width: 6px;
	background: $light-gray;
	margin: 1em;
	padding: 0.5em 1em;
	width: auto;
	display: block;

	&.code-scrollable {
		overflow-y: auto;
		max-height: 6em;
	}
}

samp,
kbd,
code,
.code {
	color: $default;
	background-color: $light-gray;
	padding: 0px 4px;
	top: 6px;

	& code,
	& pre {
		padding: 0;
		font-size: 100%;
		font-weight: bold;
		box-shadow: none;
	}
}