/*    BACKGROND COLOR     */
.bg-white{background:#FDFDFD;}
.bg-smoke{background:#F5F5F5;}
.bg-black{background:#101010;}
.bg-gray1{background:#DCDCDC;}
.bg-gray2{background:#666666;}
.bg-gray3{background:#2D2D2D;}
.bg-bluegray1{background:#CFD8DC;}
.bg-bluegray2{background:#6389A8;}
.bg-bluegray3{background:#263238;}
.bg-blue4{background:#536DFE;}
.bg-blue5{background:#3333FF;}
.bg-blue6{background:#0D47A1;}
.bg-purple1{background:#D1C4E9;}
.bg-purple2{background:#9575CD;}
.bg-purple3{background:#44148C;}
.bg-red1{background:#FF3333;}
.bg-red2{background:#B90000;}
.bg-red3{background:#830B0B;}
.bg-orange1{background:#FF8F00;}
.bg-orange2{background:#FF4D09;}
.bg-orange3{background:#DD3B00;}
.bg-ocher1{background:#FFAA11;}
.bg-ocher2{background:#C56800;}
.bg-ocher3{background:#B54D16;}
.bg-yellow1{background:#FFFF88;}
.bg-yellow2{background:#FFFF00;}
.bg-yellow3{background:#FFD600;}
.bg-green1{background:#76F313;}
.bg-green2{background:#82C82D;}
.bg-green3{background:#5F9B0A;}
.bg-blue1{background:#00FFFF;}
.bg-blue2{background:#00CAF2;}
.bg-blue3{background:#2196F3;}
.bg-pink1{background:#FF33FF;}
.bg-pink2{background:#E522B5;}
.bg-pink3{background:#CC1177;}
