@import url(fonts.css);
@import url(form.css);
@import url(table.css);
@import url(buttons.css);
@import url(backgrounds.css);
/*   STANDARDIZE   */
*,*:before,*:after{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	line-height:1.25;
	background:transparent;
	outline: none;
}
body{
	color:#101010;
	font-family:"FiraSans",sans-serif;
	font-size:16px;
}
head,link,meta,script,style,title,template,[hidden],[type=hidden]{
	display:none;
}
header,nav,aside,section,footer{background:#FDFDFD;}
html,body,article,aside,footer,header,nav,section,pre,blockquote,address,audio,video,canvas,figure,figcaption,dd,details,ol,ul,main,menu,hgroup,h1,h2,h3,h4,h5,h6,noscript,div,p,hr,form,fieldset,output{
	display:block;
	word-break:break-all;
	word-wrap:break-word;
}
dt,dd,li,summary{display:list-item;}
body{
	margin:0;
	background:#FDFDFD;
}
h1,h2,h3,h4,h5,h6{
	line-height:1.25; 
	letter-spacing:0;
	margin:0.1em 0;
}
h1{font-size:2.5em;}
h2{font-size:1.8em;}
h3{font-size:1.5em;}
h4{font-size:1.25em;}
h5{font-size:.95em;}
h6{font-size:.8em;}
figure{margin:1em;}
img{border:none;}
audio,canvas,progress,video{display:inline-block;}
progress{vertical-align:baseline;}
blockquote,dfn,cite{font-family:FiraSansBook,sans-serif;}
.text-like-link,a{
	text-decoration:none;
	color:#3498C8;
}
a:visited{color:#c8344e;}
a:hover,a:focus{color:#00CAFE;text-decoration:underline;}
a:active{color:#c8344e;}
abbr[title],abbr[data-original-title],acronym[title],acronym[data-original-title]{
	text-decoration:underline dotted;
	cursor:help;
}
b,strong{font-weight:bolder;}
em,i,dfn{font-style:italic;}
mark,.mark{
	background-color:#ff3;
	color:#000;
	padding:.2em;
}
sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
blockquote:before{
	font-family:'icomoon' !important;
	content:"\e934";
	padding-right:1em;
}
blockquote:after{
	font-family:'icomoon' !important;
	content:"\e935";
	padding-left:1em;
}
hr{
	border:none;
	box-sizing:border-box;
	overflow:hidden;
	min-height:2px;
	margin:1.5em 2%;
	background:#2D2D2D;
}
small,.small{font-size:80%;}
address{
	margin:1em;
	font-style:normal;
}
p{margin-bottom:1em;}
/*secciones*/
/*body,section,nav,article,aside,hgroup,h1,h2,h3,h4,h5,h6,header,footer,address,main,*/
/*agrupacion de contenido*/
/*blockquote,dl,dt,dd,div,figure,figcaption,hr,ol,ul,li,p,pre*/
/*texto semantico*/
/*a,b,strong,big,small,ins,i,u,em,del,s,strike,sub,sup,q,cite,code,var,dfn,
abbr,data,time,samp,kbd,mark,bdi,bdo,span,br,wbr*/
/*contenido incrustado*/
/*img,iframe,embed,object,param,video,audio,source,track,canvas,svg,math*/
/*Datos tabulares*/
/*table,caption,colgroup,col,thead,tbody,tfoot,tr,td,th*/
/*formularios*/
/*form,fieldset,legend,label,input,button,select,datalist,optgroup,option,
textarea,keygen,output,progress,meter*/
/*interactivos*/
/*details,summary,command,menu*/
/*NO RECOMENDADOS*/
/*b,big,small,i,u,s,strike,command,acronym,applet,basefont,bgsound,big,center,fn,font,
frame,frameset,isindex,dir,noembed,noframes,tt,xmp*/
::selection{
	background:#00CAFE;
	color:#FDFDFD;
}
kbd,samp,pre,code,.terminal{
	font-family:Ubuntu-Mono,monospace;
	font-size:1em;
}
kbd{
	color:#d8d8d8;
	border-radius:3px;
	border-left:3px solid #F97C17;
	background-color:#333333;
	padding:1px 10px 1px 7px;
	font-size:90%;
}
kbd kbd{
	padding:0;
	font-size:100%;
	font-weight:bold;
	box-shadow:none;
}
code,.terminal{
	color:#d8d8d8;
	border-radius:5px;
	border-left:solid 5px #F97C17;
	background-image:url(../img/bgd.png);
	margin:1em 2.5rem;
	padding:1em;
	overflow-x:auto;
	width:auto;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
pre code{
	display:block;
	padding:1rem 1.5rem;
	white-space:pre;
}
.scrollable,.scrollable-xs,.scrollable-sm,.scrollable-md,.scrollable-lg{overflow:auto;}
.scrollable-xs{max-height:120px;}
.scrollable-sm{max-height:360px;}
.scrollable-md{max-height:480px;}
.scrollable-lg{max-height:640px;}
img{vertical-align:middle;}
.img-rounded{border-radius:5px;}
.img-thumbnail{
	display:inline-block;
	max-width:100%;
	height:auto;
	padding:5px;
	background-color: #fff;
	border:solid 1px #DDD;
	border-radius:5px;
	transition:all .2s ease-in-out;
}
ul,ol{margin:0;padding:0;}
ol,ol ol,ul ol{list-style:decimal inside;}
ul,ol ul{list-style:circle inside;}
ul ul{list-style:disc inside;}
ul ul ul{list-style:square inside;}
ol ol,ol ul,ul ol,ul ul{margin-left:1em;font-size:90%;}
ul li,ol li{margin-left:1em;}
section{
	border: solid 1px #999999;
	background: #FEFEFE;
	padding: 0.5rem;
	margin:2.5rem;
}
header+section,nav+section{margin-top:6rem !important;}
footer{
	opacity:0.9;
	display: none;
	position: fixed;
	bottom: 0px;
	padding: 0.5rem;
	width: 100%;
}
/*HEADER*/
header{
	position: fixed;
	top: 0px;
	padding: 0px;
	width:100%;
	display: table;
	box-shadow: 0 0 0.5rem #666666;
	z-index: 10;
}
header *{
	display:table-cell;
	vertical-align:middle;
	height:2em;
}

header *:first-child{
	text-align:left;
	width:2rem;
	padding:0 auto;
}
header *:last-child{
	text-align:right;
	width:2rem;
	padding:0 auto;
}
.banner{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden !important;
	/*word-break: break-all; 
	word-wrap: break-word; 
	white-space:nowrap;
	word-break: break-all;
	word-wrap: break-word;*/
}
.title{
	font-size:1.3rem;
	font-weight:lighter;
	color:#666666;
	margin:0;
	background-color:whitesmoke;
	padding:0.4em;
	border:solid 1px #e8e8e8;
}
header+nav{
	display:none;
	position:fixed;
	width:100%;
	height:calc(100% - 1rem);
}
.sidebar + section{
	margin-top: 5em;
}
.sidebar{
	color:#fff;
	display:none;
	position:fixed;
	top:4em;
	z-index:10;
	height:100%;
	background-image:url(../img/bg.gif);
	overflow-x:hidden; 
	overflow-y:auto;
}
/*.sidebar > header {
	background-color: #666;
	box-shadow: 0px;
	position: relative;
	padding: 0.5em; 
	padding-left: 2em;
	font-size: 1em;
	height: 1.5em;
	width: calc(50% - 2em);
}*/
.lista{
	margin-top: 1rem;
	font-weight: bolder;
	width: 80%;
	margin-left: 10%;
}
/*    DISPLAY    */
.icon:before{
	-webkit-transform: rotate(90deg);
	transform: rotate(-90deg);
	margin: 1rem;
}
.icon:after{
	-webkit-transform: rotate(90deg);
	transform: rotate(-90deg);
	font-size: 1.2rem;
}
.display-inline{display: inline;}
.display-block{display: block;}
.display-inline-b{display: inline-block;}
.clear{clear:both;}
.display-center{
	margin: 0px;
	position: absolute;
	top: 50%;
	left:50%;
	padding: 4rem;
	transform: translate(-50%,-50%);
}
.row-container{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.space-around{justify-content:space-around;}
.row-container .row-content{flex:1 1 auto;}
.row-container .no-grow{flex:0;}

.text-white{color:#F5F5F5;}
.text-blue{color:#3333FF;}
.text-grey{color:#888888;}
.text-light-grey{color:#EEEEEE;}
.text-dark-grey{color:#444444;}
.text-black{color:#212121;}
/*    BORDER     */
.no-border{border:none;}
.border-radius-lite{border-radius:0.2em;}
.border-radius-normal{border-radius:0.5em;}
.border-radius-big{border-radius:1em;}
.circle{border-radius:50%;}
/*    BORDER COLOR     */
.border{border:solid 1px #454545;}
.border-blue{border-color:#3333ff;}
.border-grey{border-color:#999999;}
.border-red{border-color:#A40000;}
.border-orange{border-color:#F97C17;}
/*    LIST    */
.no-list-style{list-style:none;}
/*    SIZING    */
.width-50{width:50%;}
.width-60{width:60%;}
.width-70{width:70%;}
.width-80{width:80%;}
.width-90{width:90%;}
.width-100{width:100%;}
.max-width-50{max-width:50%;}
.max-width-60{max-width:60%;}
.max-width-70{max-width:70%;}
.max-width-80{max-width:80%;}
.max-width-90{max-width:90%;}
.max-width-100{max-width:100%;}
/*   TEXT FORMAT   */
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-justify{text-align:justify;}
.text-nowrap{white-space:nowrap;}
.text-lowercase{text-transform:lowercase;}
.text-uppercase{text-transform:uppercase;}
.text-capitalize{text-transform:capitalize;}
/*    POSITION    */
.float-right{float:right;}
.float-left{float:left;}
.float-none{float:none;}
.clear-left{clear:left;}
.clear-right{clear:right;}
.container:after,.row:after,.clear-both{clear:both;}
.center{display:block;margin:inherit auto;}

/************************************************
 *			Media Queries						*
 ************************************************/
/* Mobiles */
@media (max-width: 480px) {}

/* Tablets */
@media (max-width: 768px) {}

/* Desktops */
@media (max-width: 1024px) {}

/* Larger than Desktops */
@media (min-width: 1200px) {}

@media(max-width:768px){
	html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,strike,strong,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input,button {
		font-size:16px;
	}
	section{
		padding:1em;
		margin:2rem;
	}
	code,.terminal{
		margin:inherit 0px;
		border-left:0.4em solid #F97C17;
		border-radius:0px;
	}
}
@media(max-width:480px){
	html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,strike,strong,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input,button {
		font-size:14px;
	}
	section{
		background:#FEFEFE;
		margin:0px;
		border:none;
	}
	header+section,nav+section{margin-top:3.5rem !important;}
}
@media print{
	a:after {
		content:" ("attr(href)")";
	}
}