/*		Ubuntu		*/
//normal
@font-face{
	font-family:'Raleway';
	src:url('../fonts/Raleway/Raleway-Medium.ttf');
	font-weight:normal;
	font-style:normal;
}
//italic
@font-face{
	font-family:'Raleway';
	src:url('../fonts/Raleway/Raleway-Italic.ttf');
	font-weight:normal;
	font-style:italic;
}
//bold
@font-face{
	font-family:'Raleway';
	src:url('../fonts/Raleway/Raleway-Bold.ttf');
	font-weight:bold;
	font-style:normal;
}
//bold&italic
@font-face{
	font-family:'Raleway';
	src:url('../fonts/Raleway/Raleway-BoldItalic.ttf');
	font-weight:bold;
	font-style:italic;
}
//lighter
@font-face{
	font-family:'Raleway';
	src:url('../fonts/Raleway/Raleway-Light.ttf');
	font-weight:lighter;
	font-style:normal;
}
$raleway:'Raleway',Helvetica,sans-serif;
