
$material-green-dark:#226622;
$material-green-primary:#449944;
$material-green-light:#66CC66;
.fg-green-dark{color:$material-green-dark;}
.bg-green-dark{
	background:$material-green-dark;
	&.fg-green-dark{color:$white;}
}
.border-green-dark{border-color:$material-green-dark;}
.border-y-green-dark{
	border-top-color:$material-green-dark;
	border-bottom-color:$material-green-dark;
}
.border-x-green-dark{
	border-left-color:$material-green-dark;
	border-right-color:$material-green-dark;
}
.border-top-green-dark{border-top-color:$material-green-dark;}
.border-left-green-dark{border-left-color:$material-green-dark;}
.border-bottom-green-dark{border-bottom-color:$material-green-dark;}
.border-right-green-dark{border-right-color:$material-green-dark;}

.fg-green-primary{color:$material-green-primary;}
.bg-green-primary{
	background:$material-green-primary;
	&.fg-green-primary{color:$white;}
}
.border-green{border-color:$material-green-primary;}
.border-y-green{
	border-top-color:$material-green-primary;
	border-bottom-color:$material-green-primary;
}
.border-x-green{
	border-left-color:$material-green-primary;
	border-right-color:$material-green-primary;
}
.border-top-green{border-top-color:$material-green-primary;}
.border-left-green{border-left-color:$material-green-primary;}
.border-bottom-green{border-bottom-color:$material-green-primary;}
.border-right-green{border-right-color:$material-green-primary;}


.fg-green-light{color:$material-green-primary;}
.bg-green-light{
	background:$material-green-light;
	&.fg-green-light{color:$white;}
}
.border-green-light{border-color:$material-green-light;}
.border-y-green-light{
	border-top-color:$material-green-light;
	border-bottom-color:$material-green-light;
}
.border-x-green-light{
	border-left-color:$material-green-light;
	border-right-color:$material-green-light;
}
.border-top-green-light{border-top-color:$material-green-light;}
.border-left-green-light{border-left-color:$material-green-light;}
.border-bottom-green-light{border-bottom-color:$material-green-light;}
.border-right-green-light{border-right-color:$material-green-light;}
