
$material-indigo-dark:#222288;
$material-indigo-primary:#5555FF;
$material-indigo-light:#9999FF;
.fg-indigo-dark{color:$material-indigo-dark;}
.bg-indigo-dark{
	background:$material-indigo-dark;
	&.fg-indigo-dark{color:$white;}
}
.border-indigo-dark{border-color:$material-indigo-dark;}
.border-y-indigo-dark{
	border-top-color:$material-indigo-dark;
	border-bottom-color:$material-indigo-dark;
}
.border-x-indigo-dark{
	border-left-color:$material-indigo-dark;
	border-right-color:$material-indigo-dark;
}
.border-top-indigo-dark{border-top-color:$material-indigo-dark;}
.border-left-indigo-dark{border-left-color:$material-indigo-dark;}
.border-bottom-indigo-dark{border-bottom-color:$material-indigo-dark;}
.border-right-indigo-dark{border-right-color:$material-indigo-dark;}

.fg-indigo-primary{color:$material-indigo-primary;}
.bg-indigo-primary{
	background:$material-indigo-primary;
	&.fg-indigo-primary{color:$white;}
}
.border-indigo{border-color:$material-indigo-primary;}
.border-y-indigo{
	border-top-color:$material-indigo-primary;
	border-bottom-color:$material-indigo-primary;
}
.border-x-indigo{
	border-left-color:$material-indigo-primary;
	border-right-color:$material-indigo-primary;
}
.border-top-indigo{border-top-color:$material-indigo-primary;}
.border-left-indigo{border-left-color:$material-indigo-primary;}
.border-bottom-indigo{border-bottom-color:$material-indigo-primary;}
.border-right-indigo{border-right-color:$material-indigo-primary;}


.fg-indigo-light{color:$material-indigo-primary;}
.bg-indigo-light{
	background:$material-indigo-light;
	&.fg-indigo-light{color:$white;}
}
.border-indigo-light{border-color:$material-indigo-light;}
.border-y-indigo-light{
	border-top-color:$material-indigo-light;
	border-bottom-color:$material-indigo-light;
}
.border-x-indigo-light{
	border-left-color:$material-indigo-light;
	border-right-color:$material-indigo-light;
}
.border-top-indigo-light{border-top-color:$material-indigo-light;}
.border-left-indigo-light{border-left-color:$material-indigo-light;}
.border-bottom-indigo-light{border-bottom-color:$material-indigo-light;}
.border-right-indigo-light{border-right-color:$material-indigo-light;}
