
$material-orange-dark:#FF6D00;
$material-orange-primary:#FF9800;
$material-orange-light:#FFD180;
.fg-orange-dark{color:$material-orange-dark;}
.bg-orange-dark{
	background:$material-orange-dark;
	&.fg-orange-dark{color:$white;}
}
.border-orange-dark{border-color:$material-orange-dark !important;}
.border-y-orange-dark{
	border-top-color:$material-orange-dark !important;
	border-bottom-color:$material-orange-dark !important;
}
.border-x-orange-dark{
	border-left-color:$material-orange-dark !important;
	border-right-color:$material-orange-dark !important;
}
.border-top-orange-dark{border-top-color:$material-orange-dark !important;}
.border-left-orange-dark{border-left-color:$material-orange-dark !important;}
.border-bottom-orange-dark{border-bottom-color:$material-orange-dark !important;}
.border-right-orange-dark{border-right-color:$material-orange-dark !important;}

.fg-orange-primary{color:$material-orange-primary;}
.bg-orange-primary{
	background:$material-orange-primary;
	&.fg-orange-primary{color:$white;}
}
.border-orange-primary{border-color:$material-orange-primary !important;}
.border-y-orange-primary{
	border-top-color:$material-orange-primary !important;
	border-bottom-color:$material-orange-primary !important;
}
.border-x-orange-primary{
	border-left-color:$material-orange-primary !important;
	border-right-color:$material-orange-primary !important;
}
.border-top-orange-primary{border-top-color:$material-orange-primary !important;}
.border-left-orange-primary{border-left-color:$material-orange-primary !important;}
.border-bottom-orange-primary{border-bottom-color:$material-orange-primary !important;}
.border-right-orange-primary{border-right-color:$material-orange-primary !important;}


.fg-orange-light{color:$material-orange-primary;}
.bg-orange-light{
	background:$material-orange-light;
	&.fg-orange-light{color:$white;}
}
.border-orange-light{border-color:$material-orange-light !important;}
.border-y-orange-light{
	border-top-color:$material-orange-light !important;
	border-bottom-color:$material-orange-light !important;
}
.border-x-orange-light{
	border-left-color:$material-orange-light !important;
	border-right-color:$material-orange-light !important;
}
.border-top-orange-light{border-top-color:$material-orange-light !important;}
.border-left-orange-light{border-left-color:$material-orange-light !important;}
.border-bottom-orange-light{border-bottom-color:$material-orange-light !important;}
.border-right-orange-light{border-right-color:$material-orange-light !important;}
