
$material-purple-dark:#551188;
$material-purple-primary:#8822AA;
$material-purple-light:#CC77EE;
.fg-purple-dark{color:$material-purple-dark;}
.bg-purple-dark{
	background:$material-purple-dark;
	&.fg-purple-dark{color:$white;}
}
.border-purple-dark{border-color:$material-purple-dark !important;}
.border-y-purple-dark{
	border-top-color:$material-purple-dark !important;
	border-bottom-color:$material-purple-dark !important;
}
.border-x-purple-dark{
	border-left-color:$material-purple-dark !important;
	border-right-color:$material-purple-dark !important;
}
.border-top-purple-dark{border-top-color:$material-purple-dark !important;}
.border-left-purple-dark{border-left-color:$material-purple-dark !important;}
.border-bottom-purple-dark{border-bottom-color:$material-purple-dark !important;}
.border-right-purple-dark{border-right-color:$material-purple-dark !important;}

.fg-purple-primary{color:$material-purple-primary;}
.bg-purple-primary{
	background:$material-purple-primary;
	&.fg-purple-primary{color:$white;}
}
.border-purple-primary{border-color:$material-purple-primary !important;}
.border-y-purple-primary{
	border-top-color:$material-purple-primary !important;
	border-bottom-color:$material-purple-primary !important;
}
.border-x-purple-primary{
	border-left-color:$material-purple-primary !important;
	border-right-color:$material-purple-primary !important;
}
.border-top-purple-primary{border-top-color:$material-purple-primary !important;}
.border-left-purple-primary{border-left-color:$material-purple-primary !important;}
.border-bottom-purple-primary{border-bottom-color:$material-purple-primary !important;}
.border-right-purple-primary{border-right-color:$material-purple-primary !important;}


.fg-purple-light{color:$material-purple-primary;}
.bg-purple-light{
	background:$material-purple-light;
	&.fg-purple-light{color:$white;}
}
.border-purple-light{border-color:$material-purple-light !important;}
.border-y-purple-light{
	border-top-color:$material-purple-light !important;
	border-bottom-color:$material-purple-light !important;
}
.border-x-purple-light{
	border-left-color:$material-purple-light !important;
	border-right-color:$material-purple-light !important;
}
.border-top-purple-light{border-top-color:$material-purple-light !important;}
.border-left-purple-light{border-left-color:$material-purple-light !important;}
.border-bottom-purple-light{border-bottom-color:$material-purple-light !important;}
.border-right-purple-light{border-right-color:$material-purple-light !important;}
