
$material-teal-dark:#004D40;
$material-teal-primary:#009688;
$material-teal-light:#80CBC4;
.fg-teal-dark{color:$material-teal-dark;}
.bg-teal-dark{
	background:$material-teal-dark;
	&.fg-teal-dark{color:$white;}
}
.border-teal-dark{border-color:$material-teal-dark !important;}
.border-y-teal-dark{
	border-top-color:$material-teal-dark !important;
	border-bottom-color:$material-teal-dark !important;
}
.border-x-teal-dark{
	border-left-color:$material-teal-dark !important;
	border-right-color:$material-teal-dark !important;
}
.border-top-teal-dark{border-top-color:$material-teal-dark !important;}
.border-left-teal-dark{border-left-color:$material-teal-dark !important;}
.border-bottom-teal-dark{border-bottom-color:$material-teal-dark !important;}
.border-right-teal-dark{border-right-color:$material-teal-dark !important;}

.fg-teal-primary{color:$material-teal-primary;}
.bg-teal-primary{
	background:$material-teal-primary;
	&.fg-teal-primary{color:$white;}
}
.border-teal-primary{border-color:$material-teal-primary !important;}
.border-y-teal-primary{
	border-top-color:$material-teal-primary !important;
	border-bottom-color:$material-teal-primary !important;
}
.border-x-teal-primary{
	border-left-color:$material-teal-primary !important;
	border-right-color:$material-teal-primary !important;
}
.border-top-teal-primary{border-top-color:$material-teal-primary !important;}
.border-left-teal-primary{border-left-color:$material-teal-primary !important;}
.border-bottom-teal-primary{border-bottom-color:$material-teal-primary !important;}
.border-right-teal-primary{border-right-color:$material-teal-primary !important;}


.fg-teal-light{color:$material-teal-primary;}
.bg-teal-light{
	background:$material-teal-light;
	&.fg-teal-light{color:$white;}
}
.border-teal-light{border-color:$material-teal-light !important;}
.border-y-teal-light{
	border-top-color:$material-teal-light !important;
	border-bottom-color:$material-teal-light !important;
}
.border-x-teal-light{
	border-left-color:$material-teal-light !important;
	border-right-color:$material-teal-light !important;
}
.border-top-teal-light{border-top-color:$material-teal-light !important;}
.border-left-teal-light{border-left-color:$material-teal-light !important;}
.border-bottom-teal-light{border-bottom-color:$material-teal-light !important;}
.border-right-teal-light{border-right-color:$material-teal-light !important;}
